html, body {
    margin: 0;
    padding: -15px;
    background-color: grey;

}

.topnav {
    background-color: dodgerblue;
    overflow: visible;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: magenta;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: black;
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: white;
    color: dodgerblue;
}

/* Dropdown Button */
.dropbtn {
    background-color: dodgerblue;
    color: white;
    padding: 15px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: dodgerblue;
    font-size: 16px;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: dodgerblue;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: black;



